.pyc
dist/
*.egg-info/
.DS_Store
pypanda/*.pyc
*.pairs
test/*.pairs
test/*_Lioness.txt
test/motifprior_CISBP.txt
test/PPI_CISBP.txt
test/eh_1000_before_shape.txt
test/*.m
test/*_LIONESSNetworks.txt
test/*_Lioness.txt
test/*.png
test/
.pypirc
build/
dist/
.pypirc
test_panda.txt
test_lioness.txt
.gitignore
.idea/